/node_modules
/apps/mobile-app/node_modules
/apps/web-app/node_modules
/shared/node_modules


/apps/web-app/.next/
/apps/web-app/out/
/apps/web-app/build/
/apps/web-app/.DS_Store
/apps/web-app/*.pem
/apps/web-app/npm-debug.log*
/apps/web-app/yarn-debug.log*
/apps/web-app/yarn-error.log*
/apps/web-app/.pnpm-debug.log*
/apps/web-app/.env*
/apps/web-app/.vercel
/apps/web-app/*.tsbuildinfo
/apps/web-app/next-env.d.ts
/apps/web-app/coverage
/apps/web-app/.pnp
/apps/web-app/.pnp.*
/apps/web-app/.yarn/*
!/apps/web-app/.yarn/patches
!/apps/web-app/.yarn/plugins
!/apps/web-app/.yarn/releases
!/apps/web-app/.yarn/versions


/apps/mobile-app/.expo/
/apps/mobile-app/dist/
/apps/mobile-app/web-build/
/apps/mobile-app/expo-env.d.ts
/apps/mobile-app/*.orig.*
/apps/mobile-app/*.jks
/apps/mobile-app/*.p8
/apps/mobile-app/*.p12
/apps/mobile-app/*.key
/apps/mobile-app/*.mobileprovision
/apps/mobile-app/.metro-health-check*
/apps/mobile-app/npm-debug.*
/apps/mobile-app/yarn-debug.*
/apps/mobile-app/yarn-error.*
/apps/mobile-app/.DS_Store
/apps/mobile-app/*.pem
/apps/mobile-app/.env*.local
/apps/mobile-app/*.tsbuildinfo
/apps/mobile-app/app-example
